* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  width: 100%;
}

.page {
  margin: 0 auto;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  body,
  .page,
  .header,
  .header::after,
  .marquee  {
    min-width: 375px;
  }

}
